<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/e5b61c4010.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Registro</title>
  </head>
  <body>
    <header class="home__header">
        <div class="home__header__encabezado">
          <img src="/img/logo-mercado-liebre.svg" alt="" />
          <form action="" class="search-box">
            <input type="text" placeholder="Buscar productos, marca" />
            <button><i class="fas fa-search"></i></button>
          </form>
        </div>
  
        <div class="home__header--title">
          <h4>
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
            de crédito
          </h4>
        </div>
        <div class="home__header__nav">
          <nav class="home__header--links">
            <ul>
              <li><a href="/">Ofertas</a></li>
              <li><a href="/">Tiendas Oficiales</a></li>
              <li><a href="/">Vender</a></li>
              <li><a href="/">Ayuda</a></li>
            </ul>
          </nav>
          <nav class="home__header--menu">
            <ul>
              <li>
                <a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i>
              </li>
              <li>
                <a href="/login">Ingresa</a
                ><i class="fa-solid fa-right-to-bracket"></i>
              </li>
              <li>
                <a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i>
              </li>
            </ul>
          </nav>
         </div> 
  
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </header>
    <main class="main__login">
      <div class="main__form">
        <h1 id="title">Registro</h1>
        <form action="">
          <div class="main__form__input-group">
            <div class="main__form__input-field">
              <i class="far fa-envelope"></i>
              <input type="email" placeholder="Email" />
            </div>
            <div class="main__form__input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="Contraseña" />
              <i class="fa-regular fa-eye-slash"></i>
            </div>
            <div class="main__form__input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="Confirmar contraseña" />
              <i class="fa-regular fa-eye-slash"></i>
            </div>
            <div class="main__form__input-field">
              <input type="date" placeholder="Ingrese su fecha de nacimiento" />
            </div>
            <div class="main__form__input-field">
              
                <input type="text" placeholder="Domicilio" />
                
              </div>
              <h3>Perfil del usuario</h3>
            <div class="main__form__radio">
                
              <input type="radio" />
              <p>Comprador</p>
              <input type="radio" />
              <p>Vendedor</p>
              
            </div>
          </div>
          <h3>Intereses</h3>
          <div class="main__form__checkbox">
            
            <input type="checkbox"/>
            <p>Electro</p>
            <input type="checkbox" />
            <p>Moda</p>
            <input type="checkbox" />
            <p>Hogar</p>
            <input type="checkbox" />
            <p>Jugueteria</p>
            <input type="checkbox" />
            <p>Vida sana</p>
          </div>
          <div class="primary__button">
            <button id="signUp" type="submit">Registrarse</button>
          </div>
          
        </form>
      </div>
    </main>
    <footer>
        <section>
          <article>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
              efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
          </article>
          <article>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </article>
          <article>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
              puedas hacer, porque estás siempre protegid@.
            </p>
          </article>
        </section>
        <article class="copyright">
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
      </footer>
  </body>
</html>
