body .home__header {
  background-color: var(--amarillo);
  background-size: cover;
}
.home__header img {
  width: 30%;
  height: 50%;
  margin: 10px;
  margin-left: 1.5em;
}
.home__header form {
  margin-left: 10px;
}
.home__header div {
  margin: 10px;
}
.home__header div h4 {
  margin-left: 20px;
}

.home__header--menu {
  margin-top: 20px;
}
.home__header--menu ul li a {
  margin-right: 5px;
}
.home__header .burger-menu {
  text-align: center;
}
.home__header .burger-menu i {
  padding: 10px;
  background-color: var(--celeste);
  border-radius: 15%;
  color: var(--grisClaro);
  font-size: 2em;
  margin-bottom: 10px;
}
